body {
  font-size: 100%;
}
.home {
  display: flex;
  width: 100%;
  justify-content: center;
  background: url(../../assets/img5.jpg) 100% 100% no-repeat;
  background-size: cover;
  overflow: auto;
  padding-top: 70%;
  padding-bottom: 20px;
  margin-top: 0;
  height: 100%;
  line-height: 800px;
}
.content {
  position: relative;
  margin-top: 0;
  max-width: 100%;
}
.content h3 {
  color: #1b165a;
  font-size: 3rem;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
}
.content h3 span {
  color: #146928;
}
.content a {
  position: relative;
  top: -50%;
  left: 5px;
}
.btn {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 27px;
  border-radius: 0.5rem;
  border: 0.2rem solid #130f40;
  color: #0b4e41;
  cursor: pointer;
  background: none;
  line-height: 50px;
}

.btn:hover {
  background: #130f40;
  color: #fff;
}
@media only screen and (max-width: 300px) {
  .content h3 {
    font-size: 18px;
  }
  .content p {
    font-size: 16px;
  }
  .content .btn {
    font-size: 16px;
  }
}
@media only screen and (min-width: 301px) and(max-width: 620px) {
  .content h3 {
    font-size: 20px;
  }
  .content p {
    font-size: 15px;
  }
  .content .btn {
    font-size: 15px;
  }
}
@media only screen and (min-width: 621px) and(max-width: 920px) {
  .content h3 {
    font-size: 30px;
  }
  .content p {
    font-size: 20px;
  }
  .content .btn {
    font-size: 20px;
  }
}
@media only screen and (min-width: 921px) and(max-width: 1280px) {
  .content h3 {
    font-size: 48px;
  }
  .content p {
    font-size: 27px;
  }
  .content .btn {
    font-size: 27px;
  }
}
